
.tenth-footer {
    background: $footerbg;
}
.tenth-content, .columns-studies {
    display: flex;
    flex-wrap: wrap;
}

.tenth-content {
    padding-top: 97px;
    padding-bottom: 95px;
    border-bottom: 1px solid $standart;
}

.case-studies {
    flex-grow: 1;

    h4 {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 28px;
    }

    .case-ph {    
        width: 300px;    
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        padding-top: 11px; 
        padding-bottom: 15px; 
    }
}

.logo-button {
    display: block;
    padding-top: 31px;

    img {
        width: 80px;
    }
}

.studies-items {
    width: 187px;   
    padding: 0 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.studies-column-items {
    display: flex;
    flex-direction: column;

    a {
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        width: 100%;
    }
}

.studies-column-items a:first-child {
    padding-top: 21px;
}

.footer-block {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-top: 52px;
    padding-bottom: 48px;

    a {        
        padding-right: 14px;
    }

    p{
        flex-grow: 1;
    }
}
