*{
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

#header {    
    align-items: center;
    background-color: $reverse;
    padding: 29px 51px;
    border-bottom: 1px solid $border;
    font-family: $stnd-font;
}

.header-panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-menu {    
    display: flex;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $standart;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: 23px;
      
    a {
        padding: 0 28px; 
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $standart;
    }
}   

