// colors
$orange: #FF6336;
$reverse: #FFFFFF;
$standart: #000000;

// code colors
$blue1: #000088;
$blue2: #0000FF;
$violet: #9876AA;
$green1: #339933;
$green2: #004000;

// blocks bg
$background: #FF9C7D;
$blockbg: #FFF8E4;
$bqbg: #C9E8F2;
$mngmnt: #DABC98;
$footerbg: #EEEEEE;